.sidebar__nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-item {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: var(--color-text);
    text-decoration: none;
    transition: color var(--base-transition-time) var(--base-transition-func);
    &:hover { opacity: 1 }

    &-title {
      text-align: center;
      margin-top: .5rem;
      font-size: .6rem;
    }
  }

  &-avatar {
    padding: 0;
    text-decoration: none;
    margin-bottom: 2rem;
  }
}