.button {
  width: max-content;
  border: 0;
  background-color: var(--color-brand-primary);
  box-shadow: 0 6px 20px -10px var(--color-brand-primary-muted);
  font-family: inherit;
  font-size: 1rem;
  border-radius: 5px;
  color: #ffffff;
  padding: .5rem 1rem;
}